<% if current_page?(root_path) %>
<h1>CookBook</h1>

<p>Bem-vindo ao maior livro de receitas online</p>
<% end %>

<h1>Receitas</h1>  
<%= link_to 'Minhas Receitas', my_recipes_recipes_path, class: 'btn btn-light' %>
<%= link_to 'Enviar uma receita', new_recipe_path, class: 'btn btn-success' %>

<%= render partial: 'recipes', locals: { recipes: @recipes } %>