<h1>CookBook</h1>

<p>Bem-vindo ao maior livro de receitas online</p>

<%= link_to "Receitas", recipes_path %>
<%= link_to "Tipos de receitas", recipe_types_path %>
<%= link_to "Cozinhas", cuisines_path %>


<%= render partial: 'recipes/index', local: @recipes%>